---
layout: default
title: Projects
stylesheets:
  - projects.css
---

<h1>Projects</h1>
<div class="wrapper">
    {% for type in site.data.projects %}
        {% for category in type.categories %}
            {% for project in category.projects %}
                {% include card.html
                    id=project.id
                    thumbnail=project.thumbnail
                    title=project.title
                    description=project.description
                    technologies=project.technologies
                    tag=project.tag
                    group=project.group
                    members=project.members
                %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>