---
title: Home
layout: default
stylesheets:
  - home.css 
---
<section>
  <h1>Michel Brassard</h1>
  <p>Student</p>

  <h2>Contact Info</h2>
  <div class="indent">
    <p><a href="mailto:michelbrassard47@gmail.com">michelbrassard47@gmail.com</a></p>
    <p><a href="https://www.linkedin.com/in/michelb1/">michelb1</a></p>
    <p><a href="https://github.com/michelbrassard">michelbrassard</a></p>
    <p>Zagreb, Croatia</p>
  </div>

  <h2>Languages</h2>
  <div class="indent">
    <p><strong>Croatian</strong> (native)</p>
    <p><strong>English</strong></p>
  </div>

  <h2>Education</h2>
  <div class="indent">
    <p>
      <a href="{{ site.baseurl }}/education/#rit">Bachelor of Science in Web and Mobile Computing</a>
      <span class="date">(2021 - 2025)</span>
    </p>
    <p>
      <a href="{{ site.baseurl }}/education/#high-school">Biskupijska klasična gimnazija Ruđera Boškovića s pravom javnosti Dubrovnik</a>
      <span class="date">(2017 - 2021)</span>
    </p>
  </div>

  <h2>Work Experience</h2>
  <div class="indent">
    <p>
      <a href="{{ site.baseurl }}/experience/#laus">Intern at Laus CC</a> <span class="date">(22 May 2023 - 12 Aug 2023)</span>
    </p>
    <p>
      <a href="{{ site.baseurl }}/experience/#ta">Teaching Assistant at RIT Croatia</a> <span class="date">(2 Sep 2022 - 9 Dec 2022)</span>
    </p>
  </div>
  
  

  <h2>Technical Skills</h2>
  <p>Tools and technologies used in projects and courses.</p>
  <div class="technical-skills-tags-container">
    {% for skill in site.data.skills %}
      {% include tag.html skill=skill %}
    {% endfor %}
  </div>
  
</section>