---
layout: default
title: Project Descriptions
stylesheets:
  - descriptions.css
  - gallery.css
---

<h1 class="title-with-backlink">
    <a href="/projects" class="backlink">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
    </a>
    Project Descriptions
</h1>
<div class="wrapper">
    <div id="zoomed-gallery">
        <div>
            <div class="button-container">
                <p id="image-name" class="xs-title">Title</p>
                <button onclick="closeGallery()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </button>
            </div>
            
            <img src="" alt="image" srcset="">
            <div class="image-container">
                <button onclick="prevImage()" id="previous">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
                </button>
                <button onclick="nextImage()" id="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                </button>
            </div>
            
        </div>
    </div>
    <section id="side-navigation">
        <div class="links courses">
            <p class="title">Personal</p>
            <div class="indent">
                <a href="#trek">Trek</a>
                <a href="#unet">Unet</a>
            </div>

            <p class="title">RIT (College)</p>
            <div class="indent">
                <p class="xs-title">ISTE-121 Computational Problem Solving in the Information Domain 2</p>
                <div class="indent">
                    <a href="#snake-game">Snake Game</a>
                    <a href="#javafx-text-editor">JavaFX Text Editor</a>
                </div>
            </div>
            <div class="indent">
                <p class="xs-title">NMDE-111 Digital Survey 1</p>
                <div class="indent">
                    <a href="#delivereat">DeliverEat</a>
                    <a href="#kitchen-nightmares-book-cover">Kitchen Nightmares Book Cover</a>
                    <a href="#ittw-repairs">I.T.T.W. Repairs</a>
                    <a href="#planted">PlantEd</a>
                </div>
            </div>
            <div class="indent">
                <p class="xs-title">ISTE 140 Web and Mobile 1</p>
                <div class="indent">
                    <a href="#blue-whales">Blue Whales</a>
                    <a href="#history-of-the-web">History of the Web</a>
                    <a href="#your-favourites">Your Favourites!</a>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <h2>Personal</h2>
        <div class="indent">
            <h3 id="trek">Trek</h3>
            <div class="indent">
                <p>Description...</p>
                <h4>Tech...</h4>
            </div>
            <hr>
        </div>

        <h2>RIT (College)</h2>
        <div class="indent">
            
            

            <h4 class="sm-title">NMDE-111 Digital Survey 1</h4>
            <div class="indent">

                <div class="project-title">
                    <h3 id="delivereat">DeliverEat</h3>
                    <p>Completed: 12 Dec 2021</p>
                </div>
                
                <div class="indent">
                    <p>This is a third project for the <a href="{{ site.baselink }}/education/RIT-courses/#nmde111">NMDE-111 New Media Design 1 course</a>. It is a promotional poster for a hypothetical food delivery app called DeliverEat.</p>
                    
                    <h5 class="xs-title">Name</h5>
                    <p>The name would be pronounced as “deliver it”, but instead of “it” the word “eat” was used to associate it with food.</p>

                    <h5 class="xs-title">Icon</h5>
                    <p>For the icon, I imagined a bag that is moving very fast with cutlery in the center to signal fast delivery, and again to associate it with food.</p>
                    
                    <h5 class="xs-title">Poster</h5>
                    <p>In the poster, I added a white shape that resembles pac-man to better isolate the call to action buttons for downloading the app, but it  also worked as another association to food and eating.</p>


                    <h4>Tools & Technologies</h4>
                    <p>Adobe Illustrator, Adobe Photoshop</p>

                    <h4>Screenshots</h4>
                    {% assign project = site.data.projects | where: "id", "delivereat" | first %}
                    {% include gallery.html images=project.gallery %}
                </div>
                <hr>
                
                <div class="project-title">
                    <h3 id="kitchen-nightmares-book-cover">Kitchen Nightmares Book Cover</h3>
                    <p>Completed: 16 Nov 2021</p>
                </div>
                <div class="indent">
                    <p>This is a hypothetical cover design of the reality show “Kitchen Nightmares” by Gordon Ramsey if it was made into a book. It is the second project for the <a href="{{ site.baselink }}/education/RIT-courses/#nmde111">NMDE-111 New Media Design 1 course</a>.</p>

                    <h5 class="xs-title">Theme</h5>
                    <p>In that period, a lot of times, I would play the reality show as a “background” when I was completing homeworks, projects or doing chores. That is how I came to this idea to use it as the theme for this project.</p>

                    <h5 class="xs-title">Elements</h5>
                    <p>For the background, I put some famous phrases said during the show, either by Gordon Ramsey or someone else in the show. On the forefront there is a plate full of unpleasant items. There are loose hairs, a cockroach, a dead rat without a tail, and a half eaten rotting apple. The items on the plate were made by image tracing existing images, but the plate itself is a light gray circle with circular lines. The lines were filled with a gradient (spanning from white to dark gray) so that they resemble the highlights and shadows of a plate. Also, the circle itself drops a shadow to give off a 3D-like effect.</p>
                    <h4>Tools & Technologies</h4>
                    <p>Adobe Illustrator</p>
                    <h4>Screenshots</h4>
                    {% assign project = site.data.projects | where: "id", "kitchen-nightmares-book-cover" | first %}
                    {% include gallery.html images=project.gallery %}
                </div>
                <hr>

                <div class="project-title">
                    <h3 id="ittw-repairs">I.T.T.W. Repairs</h3>
                    <p>Completed: 7 Nov 2021</p>
                </div>
                
                <div class="indent">
                    <p>This is a business card for a hypothetical technology repair business. 
                        It is the ninth lab exercise in the <a href="{{ site.baselink }}/education/RIT-courses/#nmde111">NMDE-111 New Media Design 1 course</a>.</p>
                    <h5 class="xs-title">Inspiration</h5>
                    <p>The name was inspired from the frustration that comes with dealing with technology that doesn’t work properly. In those scenarios we often question if the thing itself even works from which the abbreviation ITTW (is this thing working) came from.</p>
                    <h4>Tools & Technologies</h4>
                    <p>Adobe Illustrator</p>
                    <h4>Screenshots</h4>
                    {% assign project = site.data.projects | where: "id", "ittw-repairs" | first %}
                    {% include gallery.html images=project.gallery %}
                </div>
                <hr>

                <div class="project-title">
                    <h3 id="planted">PlantEd</h3>
                    <p>Completed: 19 Oct 2021</p>
                </div>
                {% assign project = site.data.projects | where: "id", "planted" | first %}
                <div class="indent">
                    <p>This is an electronic invite poster for a hypothetical event 
                        which was the first project in the 
                        <a href="{{ site.baselink }}/education/RIT-courses/#nmde111">NMDE-111 New Media Design 1 course</a>. 
                        I chose to make a poster for a hypothetical event about 
                        plants (how to grow, use, decorate, cultivate, prepare…).
                    </p>
                    <h5 class="xs-title">Name</h5>
                    <p>The name is simple, plants are planted, but in this case the “Ed” is highlighted because the “full name” for the event would be Plant Education, and the shortened version would be Plant Ed = PlantEd.</p>
                    <h5 class="xs-title">Note</h5>
                    <p>For this project, I had to make different variations of the design which is why some styleboards or moodboards may not correspond to the final version.</p>
                    <h4>Tools & Technologies</h4>
                    <p>Adobe Photoshop</p>

                    <h4>Screenshots</h4>
                    {% include gallery.html images=project.gallery %}
                </div>
                <hr>
            </div>
            <h4 class="sm-title">ISTE-140 Web and Mobile 1</h4>
            <div class="indent">
                <div class="project-title">
                    <h3 id="blue-whales">Blue Whales</h3>
                    <p>Completed: 19 Dec 2021</p>
                </div>
                {% assign project = site.data.projects | where: "id", "blue-whales" | first %}
                <div class="indent">
                    <p>
                        This is a responsive multipage website about blue whales, 
                        and it is the third project introduced in the 
                        <a href="{{ site.baselink }}/education/RIT-courses/#iste140">ISTE-140 Web and Mobile 1 course</a>.
                    </p>
                    <h5 class="xs-title">Design</h5>
                    <p>For the project, I used a blue color scheme, and for the font I used the <a href="https://fonts.google.com/specimen/Outfit" target="_blank">Outfit</a> typeface. </p>
                    {% if project.colors %}
                        {% include color-list.html colors=project.colors %}
                    {% endif %}

                    <h5 class="xs-title">Topic</h5>
                    <p>There isn't much reasoning when it came to chosing blue whales as the topic. At the time, it seemed like a good choice for this kind of project.</p>

                    <h4>Tools & Technologies</h4>
                    <p>HTML, CSS</p>

                    <h4>Screenshots</h4>
                    {% include gallery.html images=project.gallery %}
                </div>
                <hr>
                
                <div class="project-title">
                    <h3 id="history-of-the-web">History of the Web</h3>
                    <p>Completed: 15 Nov 2025</p>
                </div>
                
                {% assign project = site.data.projects | where: "id", "history-of-the-web" | first %}
                <div class="indent">
                    <p>This is a responsive multipage website about the history of the web, and it is the second project introduced in the <a href="{{ site.baselink }}/education/RIT-courses/#iste140">ISTE-140 Web and Mobile 1 course</a>. The project had 5 pages, but the main difference between this project and project one (<a href="#your-favourites">Your Favourites!</a>) is that the topic was given by the professor, and the task was to also do some research around the topic.</p>
                    <h5 class="xs-title">Design</h5>
                    <p>For the colors, I picked a desaturated teal color scheme, and for the font I used the <a href="https://fonts.google.com/specimen/Roboto" target="_blank">Roboto</a> typeface. </p>
                    {% if project.colors %}
                        {% include color-list.html colors=project.colors %}
                    {% endif %}    

                    <h4>Tools & Technologies</h4>
                    <p>HTML, CSS (+ VSCode, FileZilla)</p>
                    
                    <h4>Screenshots</h4>
                    {% include gallery.html images=project.gallery %}
                </div>
                <hr>

                <div class="project-title">
                    <h3 id="your-favourites">Your Favourites!</h3>
                    <p>Completed: 20 Oct 2021</p>
                </div>
                
                {% assign project = site.data.projects | where: "id", "your-favourites" | first %}
                <div class="indent">
                    <p>This is a multipage promotional fast food restaurant website. It was the first project introduced in the <a href="{{ site.baselink }}/education/RIT-courses/#iste140">ISTE-140 Web and Mobile 1 course</a> with <strong>4 pages</strong> in total. </p>
                    <h5 class="xs-title">Pages</h5>
                    <p>The <strong>first page</strong> is an introductory landing page with the summary of 
                        all restaurant information that shows up on hover. 
                        For the layout I used a 3x3 grid and spanned the cards accordingly where
                        I implemented the rule of thirds. 
                        The idea for that was to let hypothetical users see the information 
                        right away so that they don't need to go to specific pages to retrieve 
                        information.  
                        The <strong>second page</strong> shows a list of menu items with 
                        images, names, and prices of the dishes.  
                        The <strong>third page</strong> is for details that show the hypothetical location 
                        and work hours of the restaurant. 
                        The <strong>fourth page</strong> is for the contact information.
                    </p>
                    <h5 class="xs-title">Design</h5>
                    <p>For the colors, I picked a yellow color scheme because it resembles fast food restaurants like McDonalds. In addition to that, I added the frosted glass/blurred effect for the background which was inspired by Apple's UI.</p>
                    
                    {% if project.colors %}
                        {% include color-list.html colors=project.colors %}
                    {% endif %}

                    <p>For the typography I used a <strong>generic sans-serif font</strong> (in the CSS file just "font-family: sans-serif;")</p>

                    <h5 class="xs-title">Name idea</h5>
                    <p>The idea for the name “Your Favourites!” didn't have much thought as this restaurant “sells” hamburgers, pizzas, pancakes and chocolate cakes. A lot of people can say that these are one of their favourite foods so the ad is “marketing” to those customers.</p>
                    
                    <h4>Tools & Technologies</h4>
                    <p>HTML, CSS, VSCode, FileZilla (learning to use new tools)</p>
                    
                    <h4>Screenshots</h4>
                    {% include gallery.html images=project.gallery %}
                </div>
                <hr>
                
            </div>
            
        </div>
    </section>
</div>