<!-- 
id - used for redirecting the user to the details part of the page, and to identify the project component itself
thumbnail - thumbnail url
title 
description
tag - what kind of the project is it -->

<a href="{{ site.baseurl }}/projects/descriptions/#{{ include.id }}" id="{{ include.id }}" class="section-link">
    <div class="image-container">
        <div style="background-image: url('{{ site.baseurl }}/assets/images/{{ include.thumbnail }}');"></div>
    </div>
    <div class="content">
        <h4>{{ include.title }}</h4>
        <p class="sm-size">{{ include.description }}</p>
        <div>
            <h6 class="xs-title">Tools & Technologies</h6>
            <p class="sm-size"><strong>{{ include.technologies }}</strong></p>
        </div>
    </div>
    <h6 class="xs-title tag">{{ include.tag }}</h6>
</a>
