<div class="side-wrapper">
    <div class="links courses">
        {% for year in site.data.rit-courses %}
            <p class="title">Year {{ year.number }}</p>
            {% for term in year.terms %}
                <div class="indent">
                    <p class="xs-title">{{ term.name }}</p>
                    <div class="indent">
                        {% for course in term.courses %}
                            <a href="{{ site.baseurl }}/education/RIT-courses/#{{course.id}}">{{ course.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <a href="#top" class="back-to-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-icon lucide-arrow-up"><path d="m5 12 7-7 7 7"/><path d="M12 19V5"/></svg>
        Back to Top
    </a>
</div>
