h1 {
    margin-bottom: 1.25rem;
}
.wrapper {
    display: grid;
    grid-template-columns: clamp(200px, 30%, 400px) 1fr;
}
.side-wrapper {
    position: sticky;
    top: 0;
}
.side-navigation {
    border-right: var(--design-element-color) 1px solid;
}
.side-navigation .links {
    margin-right: 1rem;
    border-bottom: var(--design-element-color) 1px solid;
    max-width: 400px;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.side-navigation .links .title {
    font-weight: 600;
    margin-bottom: 0rem;
    margin-top: 1rem;
}
.side-navigation .links .xs-title {
    margin: 0;
    margin-top: 0.5rem;
}
.side-navigation .links a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.25rem;
    color: var(--primary-color);
}
.side-navigation .xs-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.side-navigation .links.courses a {
    font-size: 0.75rem;
}
.side-navigation .links.projects a {
    font-size: 1rem;
}
.side-navigation .back-to-top {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    text-align: center;
    
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    color: var(--text-color-light);
    transition: all .2s;
}
.side-navigation .back-to-top:hover {
    stroke: var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
}
.side-navigation .back-to-top svg {
    width: 1rem;
    height: 1rem;
}

#mobile-side-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0rem 1rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-image: radial-gradient(var(--design-element-color) 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: #ffffffdd;
    z-index: 4;
    transition: all .3s;
}
#mobile-side-overlay .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90vh;
    overflow-y: scroll;
    border-bottom: var(--design-element-color) 1px solid;
}
#mobile-side-overlay .links a:hover {
    text-decoration: underline;
}
#mobile-side-overlay .links .xs-title {
    margin: 0%;
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
}
#mobile-side-overlay .links .sm-title {
    margin: 0%;
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
}
#mobile-side-overlay .links .project-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 0.25rem;
}
#mobile-side-overlay .links .project-list a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
}

#mobile-side-overlay .links .course-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.25rem;
}
#mobile-side-overlay .links .course-list a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
}

#mobile-side-overlay .back-to-top {
    display: flex;
    margin-top: 1rem;
    padding-bottom: 0.25rem;
    text-align: center;
    flex-direction: row;
    align-items: start;
    font-size: 1rem;
    color: var(--text-color-light);
    transition: width .2s;
    text-decoration: none;
    gap: 0.5rem;
    text-wrap: nowrap;
}
#mobile-side-overlay .back-to-top:hover {
    stroke: var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
}
#mobile-side-overlay .back-to-top svg {
    width: 1.25rem;
    height: 1.25rem;
}
#mobile-side-nav-hovering-button {
    z-index: 6;
    position: fixed;
    width: min-content;
    bottom: 4.75rem;
    right: 1rem;
    padding: 0.75rem;
    background-color: white;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: transparent 1px solid;
    display: none;
    margin: 0;
    line-height: 0%;
    height: min-content;
}
#mobile-side-nav-hovering-button svg {
    stroke: var(--primary-color);
}

.content {
    background-color: white;
    padding: 1rem;
}
.content button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: var(--design-element-color) 1px solid;
}
.content button svg {
    width: 1.25rem;
    height: 1.25rem;
    stroke: var(--text-color-light);
}
.project-title {
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
}
.project-title p {
    color: var(--text-color-light);
    font-size: 0.85rem;
}
.text-with-icon strong {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.text-with-icon svg {
    width: 1.25rem;
    height: 1.25rem;
    stroke: var(--primary-color);
}
@media screen and (max-width: 768px) {
    .side-navigation {
        display: none;
    }
    #mobile-side-overlay {
        display: block;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
    #mobile-side-nav-hovering-button {
        display: block;
    }
    .content {
        padding: 0rem;
    }
}
@media screen and (max-width: 576px) {
    .project-title {
        align-items: start;
        flex-direction: column;
    }
}