
.bachelors h2 {
    display: inline-flex;
    align-items: end;
    gap: 0.75rem;
}
.semesters {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.bachelors .descriptions {
    display: block;
    margin-bottom: 0.5rem;
}

.detailed-section {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--design-element-color);
    border-radius: 1rem;
    overflow: hidden; /* clips inner corners */
}
.detailed-section section {
    padding: 1rem;
    border-right: 1px solid var(--design-element-color);
    border-bottom: 1px solid var(--design-element-color);
}
.detailed-section section a {
    display: block;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  */
}
.detailed-section section h3 {
    margin: 0.25rem;
}

@media screen and (min-width: 768px) {
    .detailed-section section:nth-child(2n) {
        border-right: none;
    }
    .detailed-section section:nth-last-child(-n+2) {
        border-bottom: none;
    }
}

@media screen and (max-width: 768px) {
    .detailed-section {
        grid-template-columns: 1fr;
    }
    .detailed-section section {
        border-right: none;
    }
    .detailed-section section:nth-last-child(-n+1) {
        border-bottom: none;
    }
}