.technical-skills-tags-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.date {
    color: var(--text-color-light);
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 992px) {
    .technical-skills-tags-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 864px) {
    .technical-skills-tags-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .technical-skills-tags-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 576px) {
    
}