.wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 1rem;
}
h1 {
    margin-bottom: 1.25rem;
}

/* 
    Clickable linked section
    use it on a "a" tag, and nest other elements under it
*/
.section-link {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    text-decoration: none;
    color: initial;
    border: var(--design-element-color) solid 1px;
    border-radius: 1.5rem;
    background-color: white;
    transition: all .2s;
    gap: 0.25rem;
}
.section-link:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    background-image: radial-gradient(var(--primary-color-medium) 1px, transparent 1px);
    background-size: 20px 20px;
}
.section-link div {
    flex: 1;
}
/* .section-link h2 {
    margin-bottom: 1rem;
}
.section-link h3 {
    margin-bottom: 0.875rem;
} */
.section-link h4 {
    margin-bottom: 0.25rem;
}
/* .section-link h5 {
    margin-top: 0.25rem;
    margin-bottom: 0.125rem;
} */
.section-link h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.125rem;
}
.section-link .tag {
    margin: 0;
    margin-top: 0.25rem;
    text-align: end;
}
.section-link p {
    margin-bottom: 0.25rem;
}
.section-link:hover h1,
.section-link:hover h2,
.section-link:hover h3,
.section-link:hover h4,
.section-link:hover h5,
.section-link:hover h6,
.section-link:hover .sm-title,
.section-link:hover .xs-title {
    color: white;
}
.section-link:hover p {
    color: var(--primary-color-light);
}

/* Grid layout for projects */
@media screen and (min-width: 768px) {
    /* #trek {
        grid-column: span 3;
    }
    #transaction-visualizer {
        grid-column: span 2;
    } */
}

@media screen and (max-width: 864px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}