.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
h1 {
    margin-bottom: 1.25rem;
}

/* 
    Clickable linked section
    use it on a "a" tag, and nest other elements under it
*/
.section-link {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-decoration: none;
    color: initial;
    border: var(--design-element-color) solid 1px;
    border-radius: 1.5rem;
    background-color: white;
    transition: all .2s;
    gap: 0.25rem;
}
.section-link:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    background-image: radial-gradient(var(--primary-color-medium) 1px, transparent 1px);
    background-size: 20px 20px;
}
.section-link .content {
    flex: 1;
}
/* .section-link h2 {
    margin-bottom: 1rem;
}
.section-link h3 {
    margin-bottom: 0.875rem;
} */
.section-link h4 {
    margin-bottom: 0.25rem;
}
/* .section-link h5 {
    margin-top: 0.25rem;
    margin-bottom: 0.125rem;
} */
.section-link h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.125rem;
}
.section-link .tag {
    margin: 0;
    text-align: end;
}
.section-link p {
    margin-bottom: 0.25rem;
}
.section-link:hover h1,
.section-link:hover h2,
.section-link:hover h3,
.section-link:hover h4,
.section-link:hover h5,
.section-link:hover h6,
.section-link:hover .sm-title,
.section-link:hover .xs-title {
    color: white;
}
.section-link:hover p {
    color: var(--primary-color-light);
}
.section-link .image-container {
    border-radius: 0.5rem;
    border: var(--design-element-color) 1px solid;
    width: auto;
    margin-bottom: 0.5rem;
    background-color: var(--primary-color);
    background-image: radial-gradient(var(--primary-color-light) 1px, transparent 1px);
    background-size: 20px 20px;
}
.section-link .image-container div {
    height: 6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: calc(0.5rem - 1px);
    padding: 0.75rem;
    transition: opacity .3s;
}
.section-link:hover .image-container {
    border: var(--primary-color-light) 1px solid;
}
.section-link:hover .image-container div {
    opacity: 0;
}

.section-link .image-container img {
    height: 5rem;
    border-radius: 0.125rem;
    border: var(--design-element-color) 1px solid;
    transition: opacity .3s;
}

.section-link:hover .image-container img {
    opacity: 0;
}

.title-with-icon {
    display: inline-flex;
    align-items: start;
    gap: 0.5rem;
}
.title-with-icon .icon {
    stroke: var(--primary-color);
    height: 1.25rem;
    width: 1.25rem;
    margin: 0.1rem;
    padding: 0;
}
.title-with-icon .group {
    display: flex;
    flex-direction: row;
    align-items: start;
}
.title-with-icon .group p {
    font-size: 0.85rem;
    color: var(--primary-color);
}
.section-link:hover .title-with-icon .icon {
    stroke: var(--primary-color-light);
}
.section-link:hover .title-with-icon p {
    color: var(--primary-color-light);
}

/* Grid layout for projects */
@media screen and (min-width: 768px) {
    /* #trek {
        grid-column: span 3;
    }
    #transaction-visualizer {
        grid-column: span 2;
    } */
}
@media screen and (max-width: 992px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 864px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}