:root {
  --primary-color: #587CF2;
  --primary-color-medium: #7995f0;
  --primary-color-light: #eaefff;
  --text-color: #383838;
  --text-color-light: #767676;
  --title-color: #000000;
  --small-title-color: #6a6a6a;
  --design-element-color: #dddddd;
  --light-gray: #eeeeee;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: Inter-Italic;
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
}
main {
    flex: 1;
    margin: 1rem;
}

.dot-background {
    background-image: radial-gradient(var(--design-element-color) 1px, transparent 1px);
    background-size: 20px 20px;
}
.solid-background {
    background-color: white;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--title-color);
    margin: 0;
    line-height: 1;
}
h4, h5, h6 {
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
    line-height: 1;
}
h1 {
    font-size: 2.5rem;
    margin-top: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1.125rem;
}
section h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
section h3 {
    margin-top: 1.75rem;
    margin-bottom: 0.875rem;
}
section h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}
section h5 {
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
}
section h6 {
    margin-top: 1.125rem;
    margin-bottom: 0.5625rem;
}

/* Small titles */
.sm-title {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--text-color-light);
    font-weight: 500
}
.xs-title {
    font-size: 0.625rem;
    text-transform: uppercase;
    color: var(--text-color-light);
    font-weight: 500
}
.title-with-backlink {
    display: inline-flex;
    align-items: start;
    gap: 0.75rem;
}

/* paragraph */
p {
    color: var(--text-color);
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.75rem;
    line-height: 1.5;
}

.md-size {
    font-size: 1rem;
}
.sm-size {
    font-size: 0.75rem;
}
.xs-size {
    font-size: 0.625rem;
}
.xxs-size {
    font-size: 0.5rem;
}

/* links */
section a {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}
section a:hover {
    text-decoration: underline;
}
.external-link {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
.external-link svg {
    height: 1.125rem;
}
.backlink {
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
}
.backlink svg {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0;
    padding: 0;
}

/* Desktop navigation */
nav .desktop {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    border-bottom: var(--design-element-color) 1px solid;
}
nav .name {
    color: var(--title-color);
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
}
nav .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
nav .links a {
    color: var(--text-color-light);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}
nav .links a:hover {
    text-decoration: underline;
}
nav .links .active {
    color: var(--primary-color);
}

/* Mobile navigation */
nav .mobile {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: var(--design-element-color) 1px solid;
}
nav .mobile .icon {
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    stroke: var(--text-color);
    display: grid;
    place-items: center;
}
nav .mobile .active {
    stroke: var(--primary-color);
}
button {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
button .icon:hover {
    stroke: var(--primary-color);
}
#mobile-navigation-hovering-button {
    z-index: 10;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    transition: all .2s;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2);
    border: transparent 1px solid;
}
#mobile-navigation-hovering-button:hover {
    background-color: var(--primary-color-medium);
    border: transparent 1px solid;
}
#mobile-navigation-hovering-button svg {
    stroke: var(--primary-color-light);
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    background-color: var(--primary-color);
    background-image: radial-gradient(var(--primary-color-medium) 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
#overlay .button-container {
    display: flex;
    justify-content: flex-end;
}
#overlay button {
    margin-top: 1rem;
    margin-right: 1rem;
}
#overlay .button-container button  svg {
    height: 3.25rem;
    width: 3.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* stroke: var(--text-color); */
    stroke: var(--primary-color-light);
}
#overlay .list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-left: 3rem;
    margin-bottom: 12rem;
}
#overlay a {
    font-size: 1.75rem;
    font-weight: 500;
    text-decoration: none;
    /* color: var(--text-color); */
    color: white;
    text-wrap: nowrap;
}
#overlay a:hover {
    text-decoration: underline;
}

/* use with div */
.indent {
    margin-left: 0.5rem;
}
.sm-indent {
    margin-left: 0.25rem;
}

/* Footer */
footer {
    padding: 2rem 4rem 0rem 4rem;
    background-color: var(--light-gray);
    background-image: radial-gradient(var(--design-element-color) 1px, transparent 1px);
    background-size: 20px 20px;
}
footer strong {
    font-size: 1.5rem;
}
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .links {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}
footer .copyright {
    text-align: center;
    padding-top: 0.5rem;
    margin-top: 3rem;
    border-top: var(--design-element-color) 1px solid;
    color: var(--text-color-light);
}
footer .links a {
    background-color: var(--text-color);
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 2rem;
    transition: all .2s;
    height: min-content;
}
footer .links a:hover {
    background-color: var(--primary-color);
}
footer svg {
    height: 1.25rem;
    width: 1.25rem;
    stroke: var(--light-gray);
}
footer .navigation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
footer .navigation a {
    text-decoration: none;
    color: var(--text-color-light);
    font-size: 0.825rem;
}
footer .navigation a:hover {
    text-decoration: underline;
}

hr {
    border: var(--design-element-color) 0.5px solid;
    margin-top: 3rem;
}

@media screen and (max-width: 992px) {
    nav .desktop .links {
        gap: 2rem;
    }
}
@media screen and (max-width: 864px) {
    nav .desktop .links {
        gap: 1.5rem;
    }
}
@media screen and (max-width: 768px) {
    nav .desktop {
        display: none;
    }
    nav .mobile {
        display: flex;
    }
    nav .mobile .links {
        gap: 1.5rem;
        margin-right: 0.25rem;
    }
    footer .navigation {
        flex-direction: column;
    }
    footer {
        padding: 1rem;
    }
    footer .container {
        flex-direction: column;
    }
    footer .links {
        margin-top: 2rem ;
    }
    footer .copyright {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 576px) {
    nav .mobile .links a {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    nav .desktop {
        display: flex;
    }
    nav .mobile {
        display: none;
    }
    main {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

