<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/shared.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    {% if page.stylesheets %}
        {% for stylesheet in page.stylesheets %}
            <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/{{ stylesheet }}" />
        {% endfor %}
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="{{ site.baseurl }}/assets/script.js" defer></script>
</head>
<body>
    {%include navigation.html %}
    
    <main class="dot-background">
        {{ content }}
    </main>
    
    {%include footer.html %}
</body>
</html>